# Data Science Tools and Ecosystem

## Introduction
#### In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives**
* List of Popular Data Science Libries
* List of Common Data Science Libaries
* Table of Data Science Tools and and Development Environment Used for Data Science
* Examples of Arithmetic Expressions in Python

## Data Science Libraries
#### some of the popular libraries used by Data scientist include:
1. Python
2. SQL
3. R
4. PHP
5. Java

#### some of the commonly used libraries by data scientist inculde:
1. Pandas
2. Numpy
3. Matplotlib
4. ggplot
5. Seaborn

## Table of Data Science Tools
| Data Science Tools | 
|--------------------|
| Jupyter Notebook   |
|      R studio      |
|     Apache spark   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
# x represents hours
x= 200/60
print(x)

3.3333333333333335

## **Author**
Ekow Quayson